html, body, .title, .subtitle {
    background-color: #c6ebe9;
    color: #007c85;
    font-family: 'Roboto', sans-serif;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
    font-family: 'Ubuntu', sans-serif;
}

.highlight {
    color: #ff1f5e !important;
}

p {
    font-size: 1.1em;
}

.code {
    font-family: 'Ubuntu Mono', monospace;
}