<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>easy high scores</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu|Ubuntu+Mono" rel="stylesheet">

<body>
    <div class="columns">
        <div class="column is-one-fifth">
        </div>

        <div class="column">
            <section>&nbsp;</section>
            <p class="title is-1 highlight">easy high scores</p>
            <p class="subtitle is-4">Competition is good. Add high scores to your app/game/website for
                <b>free</b>. No sign up required.</p>
            {% block content %} {% endblock %}
        </div>

        <div class="column is-one-fifth">
        </div>
</body>

</html>